@font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand/static/quicksand_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand/static/quicksand_semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand/static/quicksand_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #16AFF0 0%, rgba(22, 175, 240, 0.11) 100%);
    min-height: 100vh;
    font-family: Quicksand, sans-serif;
}

.container {
    max-width: 1416px;
    min-width: 355px;
    margin: 0 auto;
    padding: 0 20px;
}

.hidden_heading {
    display: none;
}

.header {
    padding: 20px 0;
}

.weather {
    max-width: 800px;
    border-radius: 16px;
    padding: 36px 16px;
    margin: 0 auto 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.weather__search {
    height: 47px;
    width: 100%;
    padding: 13px 42px 13px 18px;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: transparent;
    border-radius: 15px;
}

.search__label {
    position: relative;
}

.search__button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 18px;
    top: -2px;
    cursor: pointer;
}

.weather__current {
    margin: 28px 0;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}

.weather__current__name {
    font-weight: normal;
    text-align: center;
    font-size: 50px;
}

.weather__current__actual {
    display: flex;
    justify-content: space-evenly;
}

.weather__current__temp {
    font-size: 60px;
    font-weight: bold;
    color: white;
    position: relative;
}

.weather__current__temp::after {
    content: 'c';
    font-size: 20px;
    position: absolute;
    right: -5px;
    top: 5px;
}

.weather__current__day {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}