/* Add fonts */
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand/static/quicksand_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand/static/quicksand_semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand/static/quicksand_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Reset all default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Add gradient background */
    background: linear-gradient(303deg, #16AFF0 30%, #FFDE83 100%);
    min-height: 100vh;
    font-family: Quicksand, sans-serif;
}

a {
    text-decoration: none;
}
/* Container to wrap content */
.container {
    max-width: 1416px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}
/* To hide the headings */
.hidden_heading {
    display: none;
}
/* To add glassmorpism effect to some element */
.glassmorphism {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
/* To add bold font weight to some element */
.bold {
    font-weight: 600;
}

.header {
    padding: 20px 0;
}
/* Logo styles */
.logo {
    display: contents;
    color: white;
    font-size: 35px;
    letter-spacing: -2px;
}

.logo__img {
    width: 31px;
}
/* Styles for weather block */
.weather {
    position: relative;
    max-width: 800px;
    border-radius: 16px;
    padding: 16px;
    margin: 0 auto 20px;
}

.weather__search {
    font-size: 1rem;
    height: 47px;
    width: calc(100% - 57px);
    padding: 13px 42px 13px 18px;
    border: none;
    border-radius: 15px;
}

.weather__location {
    width: 47px;
    height: 47px;
    padding: 14px;
    border-radius: 15px;
    border: none;
    float: right;
    cursor: pointer;
}

.weather__location:hover,
.weather__search:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
}

.weather__location:active,
.weather__search:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.search__label {
    position: relative;
}

.search__button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 90px;
    top: 28px;
    cursor: pointer;
}

.search__button img {
    width: 22px;
}
/* Styles for errors and success alerts */
.error {
    display: none;
    padding: 0.5rem;
    margin: 10px 0;
    color: red;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 15px;
    position: absolute;
    left: 30px;
    top: 50px;
}

.response__error,
.success {
    display: none;
    position: fixed;
    top: 65px;
    right: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.response__error {
    background: red;
    z-index: 10;
}

.success {
    background: lightgreen;
}
/* Styles for current weather block */
.current {
    margin: 28px 0 10px;
    padding: 15px;
    border-radius: 15px;
    position: relative;
}

.current__icon {
    width: 90px;
}

.current__name {
    font-weight: normal;
    text-align: center;
    font-size: 35px;
}

.current__actual {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.current__temp {
    font-size: 60px;
    font-weight: bold;
    position: relative;
}

.current__temp::after {
    content: 'c';
    font-size: 20px;
    position: absolute;
    right: -10px;
    top: 5px;
}

.current__day {
    margin-top: 10px;
    text-align: center;
}
/* Save and delete buttons */
#save_location,
.delete_location {
    content-visibility: hidden;
    /* Add color transparent to hide text under the button */
    color: transparent;
    width: 20px;
    height: 25px;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
}

#save_location {
    background: url("../images/saved.svg") center top / cover;
    background-size: 30px;
}

.delete_location {
    background: url("../images/trash.svg") center bottom / cover no-repeat;
    background-size: 20px;
    width: 27px;
}

#save_location:hover,
.delete_location:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
 /* Styles for hourly forecast */
.hourly {
    margin: 10px 0 30px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}

.hour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hour__time {
    font-size: 14px;
}

.hour__icon {
    width: 50px;
}
/* Styles for details of current weather */
.details__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    margin: 10px 0;
}

.details {
    padding: 15px;
    border-radius: 15px;
    width: calc(50% - 10px);
}

.details__name {
    font-weight: 600;
    display: contents;
}

.details__icon {
    width: 45px;
}

.details__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.details__wind {
    float: right;
}
/* Footer */
.footer {
    height: 80px;
    /*position: relative;*/
}
/* Navigation menu */
.navigation {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    border-radius: 15px 15px 0 0;
    background-color: #83cbed;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

}

.navigation__link {
    list-style-type: none;
}

.navigation__link a {
    color: white;
}

.active a {
    color: black;
}
/* Styles for weather forecast */
.forecast__icon {
    grid-area: 1 / 1 / 3 / 2;
}

.forecast__weather {
    grid-area: 3 / 1 / 5 / 2;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.forecast__wind {
    display: flex;
    align-items: center;
    gap: 10px;
}

.forecast__wind img {
    width: 40px;
    height: 40px;
}

.forecast__name {
    text-align: center;
    margin-block: 20px;
    font-size: 40px;
}

.forecast__day {
    padding: 15px;
    margin-block: 15px;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
}
/* Styles for saved locations */
.saved {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.saved__name {
    font-size: 30px;
}

.saved__name,
.saved__condition {
    text-align: center;
    padding-block: 10px;
}

.saved__temp {
    font-size: 25px;
    font-weight: 700;
}

.saved__actual {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.saved__icon {
    width: 90px;
}