@font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand/static/quicksand_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand/static/quicksand_semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand/static/quicksand_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(303deg, #16AFF0 30%, #FFDE83 100%);
    min-height: 100vh;
    font-family: Quicksand, sans-serif;
}

a {
    text-decoration: none;
}

.night_theme {
    background: linear-gradient(0deg, #0C1445 80%, #f6eed5 100%);
    color: white;
}

.container {
    max-width: 1416px;
    min-width: 355px;
    margin: 0 auto;
    padding: 0 20px;
}

.hidden_heading {
    display: none;
}

.header {
    padding: 20px 0;
}

.logo {
    display: contents;
    color: white;
    font-size: 35px;
    letter-spacing: -2px;
}

.logo__img {
    width: 31px;
}

.weather {
    max-width: 800px;
    border-radius: 16px;
    padding: 36px 16px;
    margin: 0 auto 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.weather__search {
    height: 47px;
    width: 100%;
    padding: 13px 42px 13px 18px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    border-color: transparent;
    border-radius: 15px;
}

.search__label {
    position: relative;
}

.search__button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 18px;
    top: -2px;
    cursor: pointer;
}

.current {
    margin: 28px 0 10px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.current__name {
    font-weight: normal;
    text-align: center;
    font-size: 50px;
}

.current__actual {
    display: flex;
    justify-content: space-evenly;
}

.current__temp {
    font-size: 60px;
    font-weight: bold;
    color: white;
    position: relative;
}

.current__temp::after {
    content: 'c';
    font-size: 20px;
    position: absolute;
    right: -5px;
    top: 5px;
}

.current__day {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hourly {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hour__time {
    font-size: 14px;
}

.hour__icon {
    width: 30px;
    height: 19px;
}

.forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.forecast__day {
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    width: calc(50% - 10px);
}

.forecast__day__date {
    font-size: 14px;
    font-weight: normal;
}

.forecast__day__icon {
    width: 30px;
}

.forecast__day__weather {
    display: flex;
    justify-content: space-around;
}